footer {
    color: #A9A9A9;
    line-height: 1;
}

footer a {
    color: #A9A9A9;
}

footer a:hover {
    text-decoration: none;
}

footer .about {
    font-size: 0.9rem;
}

@media only screen and (min-width: 576px) {

    footer .logo {
        text-align: left !important;
    }

}
