/* Header Begins */

header.masthead {
    position: relative;
    height: 500px;
    background-color: black;
    z-index: 0;
}

header.bg-default {
    background-image: linear-gradient(70deg, #6a85b6 0%, #bac8e0 100%);
}

header.masthead .bg-blurry {
    position: absolute;
    z-index: -1;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header.masthead .carousel, header.masthead .carousel .carousel-inner {
    height: 100%;
}

header.masthead .carousel .carousel-indicators {
    bottom: -5px;
}

header.masthead .carousel .carousel-indicators li {
    border-radius: 50%;
    width: 7px;
    height: 7px;
}

header.masthead .carousel .carousel-control-next, header.masthead .carousel .carousel-control-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    border-radius: 50%;
    width: 70px;
    height: 70px;

    transition: all 0.3s ease-in-out;
}

header.masthead .carousel .carousel-control-prev:hover {
    transform: scale(1.05) translate(-5%, -50%);
}

header.masthead .carousel .carousel-control-next:hover {
    transform: scale(1.05) translate(5%, -50%);   
}

header.masthead .hero {
    position: relative;
    height: 450px;
    background-color: white;
    border-radius: 1.2rem;

    background-size: cover;
    background-position: center center;
}

header.masthead .hero::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 1.2rem;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

header.masthead .hero:hover {
    text-decoration: none;
    color: black;
}

header.masthead .hero:hover::after {
    opacity: 1;
}

header.masthead .hero .title {
    border-radius: 1.2rem 1.2rem 0 0;
}

@media only screen and (max-width: 992px) {
    header.masthead .carousel .carousel-control-prev {
        display: none;
    }

    header.masthead .carousel .carousel-control-next {
        display: none;
    }

    header.masthead .hero {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}

@media only screen and (min-width: 992px) {
    header.masthead .carousel .carousel-control-prev {
        left: 50px;
    }

    header.masthead .carousel .carousel-control-next {
        right: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    header.masthead .carousel .carousel-control-prev {
        left: 250px;
    }

    header.masthead .carousel .carousel-control-next {
        right: 250px;
    }
}

/* Header Ends */