.form-control {
    padding: 8px 18px;
    font-size: 18px;
    border-radius: 2px;
    color: black !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #888;
}

.form-control-sm {
    padding: 6px 16px;
    font-size: 14px;
}

.form-control.title {
    font-size: 40px;
    color: black;
    border: none;
    padding: 0;
}

.file-input {
    display: inline-block;
    text-align: left;
    width: 100%;
    position: relative;
}

.file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
}

.file-input > .label {
    color: black;
    white-space: nowrap;
    opacity: .3;
}

.file-input.-chosen > .label {
    opacity: 1;
}

.file-input:hover .btn  {
    background-color: #ccc;
}