#mainNav {
    /*position: absolute;*/
    background-color: #323232;
    color: #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-toggler {
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px 10px;
    color: white;
    border: 1px solid white;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05rem;
    color: #ccc;
}

#mainNav .navbar-brand {
    padding: 0;    
}

#mainNav .navbar-brand img {
    height: 28px;
}

@media only screen and (min-width: 768px) {
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: white;
    }
    #mainNav .navbar-nav > li.nav-item > a {
        padding: 0px 12px;
    }
    #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
        color: white;
    }

    .dropdown-menu {
        transform: translateX(-50%);
    }

    .dropdown-menu::before, .dropdown-menu::after {
        position: absolute;
        display: inline-block;
        content: "";
    }

    .dropdown-menu::before {
        top: -16px;
        right: 50%;
        transform: translateX(50%);
        border: 8px solid transparent;
        border-bottom-color: rgba(27,31,35,0.15);
    }

    .dropdown-menu::after {
        top: -14px;
        right: 50%;
        transform: translateX(50%);
        border: 7px solid transparent;
        border-bottom-color: #fff;
    }

    .aa-dropdown-menu {
        width: 400px !important;
    }
}

#mainNav .search-div {
    background: #404448 !important;
    border-radius: 3px;
    height: 100%;
}

#mainNav .search-input {
    font-size: 13px;
    border: 0;
    width: 230px;
    padding: 6px 8px;
    color: white !important;
    font-weight: bold;
    background: none;
}

.dropdown .dropdown-menu {
    border-radius: 2px;
    min-width: 200px;
    padding: 0;
    top: 30px;
    left: 50%;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
}

.dropdown .dropdown-toggle {
    outline: none !important;
    box-shadow: none;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: .5rem 1rem;
}

.dropdown .dropdown-menu .dropdown-divider {
    margin: 0;
}

.dropdown .dropdown-menu .dropdown-header {
    padding: .5rem 1rem;
    font-size: 1rem;
    color: black;
}

.algolia-autocomplete {
    width: 100%;
}

.aa-hint {
    color: #e4e4e4; 
}
.aa-dropdown-menu {
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    font-size: .9rem;
    border-radius: 2px;
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
    box-sizing: border-box; 
}
.aa-suggestion {
    padding: .5rem 1rem;
    border-top: 1px solid rgba(228, 228, 228, 0.6);
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
}
.aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); 
}
.aa-suggestion > span:first-child {
    color: #333; 
}
.aa-suggestion > span:last-child {
    color: #868e96; 
}
.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
}

.aa-branding {
    display: block;
    border-top: .5px solid rgba(228, 228, 228, 0.6);
    padding: .5rem 1rem;
    text-align: center;
}

.aa-branding img {
    width: 40%;
}