#mainNav {
    position: absolute;
    background-color: #323232;
    color: #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-toggler {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 13px;
    color: white;
}

#mainNav .navbar-nav > li.nav-item > a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

@media only screen and (min-width: 992px) {
    #mainNav {
        position: fixed;
        -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
        box-shadow: 0 0 3px rgba(0,0,0,.2);
    }
    #mainNav .navbar-brand {
        padding: 0px 20px;    
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: white;
    }
    #mainNav .navbar-nav > li.nav-item > a {
        padding: 0px 20px;
        color: #ccc;
    }
    #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
        color: white;
    }
}

#mainNav .navbar-brand img {
    height: 28px;
}
.dropdown-menu {
    border-radius: .15rem;
    min-width: 250px;
    padding: 0;
    top: 29px;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-toggle {
    outline: none !important;
    box-shadow: none;
}

.dropdown-menu .dropdown-item {
    padding: .5rem 1rem;
    font-weight: 300;
}

.dropdown-menu .dropdown-divider {
    margin: 0;
}

.dropdown-menu .dropdown-header {
    padding: .5rem 1rem;
    font-size: 1rem;
    color: black;
}