.row .div-bubble .article h5 {
    font-size: 1.2rem;
}

.row .div-bubble .btn-load-more {
    display: block;
    position: absolute;

    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);

    border-radius: 50%;

    width: 70px;
    height: 70px;

    transition: all 0.3s ease-in-out;
}

.row .div-bubble .btn-load-more:hover {
    transform: translate(-50%, 55%) scale(1.1);
}

header.masthead .post {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.article {
    font-size: 18px;
}

.article h1,
.article h2,
.article h3 {
    margin: 20px 0;
}

.article h1 {
    font-size: 30px;
}
.article h2 {
    font-size: 25px;
}
.article h3, 
.article h4, 
.article h5, 
.article h6 {
    font-size: 20px;
}

.article p {
    margin: 1.5rem 0;
}

.article table td, .article table th {
    padding: 5px 10px;
    border: 1px solid gray;
}

.article img {
    width: 100% !important;
    border-radius: .75rem;
}

.comment {
    
}

.comment p {
    margin: 3px 0;
    font-size: 15px;
}

.comment-depth-1 {
    margin-left: 20px;
}

.comment-depth-2 {
    margin-left: 40px;
}

.comment-reply {
    color: #868e96;
}