body {
    font-size: 20px;
    color: black;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

p {
    line-height: 1.5;
    margin: 30px 0;
}

p a {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

h1, h2 {
    font-family: 'Georgia', serif;
}

h3, h4, h5, h5 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: bold;
}

a {
    color: black;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:focus, a:hover {
    color: #2993FC;
    text-decoration: none !important;
}

blockquote {
    font-style: italic;
    color: #868e96;
}

.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}

.caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.active {
    color: white !important;
}

/*Added by me*/

.bg-bubble {
    background-color: #F6F6F6;
}

.div-bubble {
    background-color: white;
    border-radius: .75rem;
}

label {
    font-size: 18px !important;
}

.normal-link {
    color: #ccc;
}

.normal-link:hover {
    color: white;
    text-decoration: none;
}

.table > tbody > tr > * {
    vertical-align: middle;
}

.table {
    margin-bottom: 0;
}

.alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}


.select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select select {
    display: inline-block;
    padding: 0 18px;
    width: 100%;
    cursor: pointer;
    outline: 0;
    background: #eee;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    background: #ccc;
}

.select select:disabled {
    pointer-events: none;
    opacity: .5;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}

.pdf-link:hover {
    opacity: .75;
}

.pdf-link img {
    border: 1px solid #ccc;
    width: 150px;
}
