body {
    font-size: 20px;
    color: black;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    margin-top: 46px;
}

p {
    line-height: 1.5;
    margin: 30px 0;
}

p a {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: black;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a:focus, a:hover {
    color: #2993FC;
    text-decoration: none !important;
}

blockquote {
    font-style: italic;
    color: #868e96;
}

.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}

.caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.active {
    color: white !important;
}

/*Added by me*/

.bg-bubble {
    background-color: #F6F6F6;
}

.div-bubble {
    background-color: white;
    border-radius: .75rem;
}

label {
    font-size: 18px !important;
}

.normal-link {
    color: #ccc;
}

.normal-link:hover {
    color: white;
    text-decoration: none;
}

.table > tbody > tr > * {
    vertical-align: middle;
}

.table {
    margin-bottom: 0;
}

.alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.form-control.title {
    font-size: 40px;
    font-weight: bold;
    color: black;
    border: none;
    padding: 0;
}

.file-input {
    display: inline-block;
    text-align: left;
    width: 100%;
    position: relative;
}

.file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
}

.file-input > .label {
    color: black;
    white-space: nowrap;
    opacity: .3;
}

.file-input.-chosen > .label {
    opacity: 1;
}

.file-input:hover .btn  {
    background-color: #ccc;
}
